<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/cl.css">
</head>
<body>
    
    <div class="cl">
        
         <div class="yearbx">
            <div class="conn"><img src="/images/MANUTD.jpeg" alt="IMGG"></div>
           <div class="year">2008-MAN UTD</div>
         </div>
         <div class="yearbx">
            <div class="conn"><img src="/images/BARCA.jpg" alt="IMGG"></div>
           <div class="year">2009-FC BARCELONA</div>
         </div>
         <div class="yearbx">
            <div class="conn"><img src="/images/INTER.jpg" alt="IMGG"></div>
           <div class="year">2010-INTER MILAN</div>
         </div>
         <div class="yearbx">
            <div class="conn"><img src="/images/BARCA.jpg" alt="IMGG"></div>
           <div class="year">2011-FC BARCELONA</div>
         </div>
         <div class="yearbx">
            <div class="conn"><img src="/images/CHEL.jpg" alt="IMGG"></div>
           <div class="year">2012- CHELSEA</div>
         </div>
         <div class="yearbx">
            <div class="conn"><img src="/images/BAY.jpg" alt="IMGG"></div>
           <div class="year">2013-BAYERN MUNICH</div>
         </div>
         <div class="yearbx">
            <div class="conn"><img src="/images/RM.jpg" alt="IMGG"></div>
           <div class="year">2014-REAL MADRID</div>
         </div>
         <div class="yearbx">
            <div class="conn"><img src="/images/BARCA.jpg" alt="IMGG"></div>
           <div class="year">2015-FC BARCELONA</div>
         </div>
         <div class="yearbx">
            <div class="conn"><img src="/images/RM.jpg" alt="IMGG"></div>
           <div class="year">2016-REAL MADRID</div>
         </div>
         <div class="yearbx">
             <div class="conn"><img src="/images/RM.jpg" alt="IMGG"></div>
            <div class="year">2017-REAL MADRID</div>
          </div>
          <div class="yearbx">
             <div class="conn"><img src="/images/RM.jpg" alt="IMGG"></div>
            <div class="year">2018-REAL MADRID</div>
          </div>
          <div class="yearbx">
             <div class="conn"><img src="/images/LIV.jpg" alt="IMGG"></div>
            <div class="year">2019-LIVERPOOL</div>
          </div>
          <div class="yearbx">
             <div class="conn"><img src="/images/BAY.jpg" alt="IMGG"></div>
            <div class="year">2020-BAYERN MUNICH</div>
          </div>

     
    </div>
</body>
</html>