<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/nine.css">
    <title>Document</title>
</head>
<body>
    <div class="box">
    <div class="cont"><img src="/images/BAY.jpg" alt="barca"></div>
    
    <div class="text"><div class="span">2012 champion BAYERN MUNICH</div></div>
</div>
</body>
</html>